.stepRow {
  display: block;
  padding: 24px 4px;
  color: inherit;
  border-radius: 4px;
  margin: 0 -4px;
  padding-left: 8px;
  padding-right: 8px;
}

.stepNum {
  color: var(--mantine-color-dimmed);
}
